<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Trip Details Form</h2>

    <form th:object="${tripDetailsForm}" th:action="@{/trip/save}" method="post">
        <table>
                <thead>
                    <tr>
                        <th>#</th>
<!--                        <th>Trip ID</th>-->
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Sent Boxes</th>
                        <th>Boxes Per Pallet</th>
                        <th>Square Meter Per Box</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tripDetail, rowStat : *{tripDetails}">
                        <td th:text="${rowStat.count}"></td>
<!--                        <td>-->
<!--                            <input type="text" th:field="*{tripDetails[__${rowStat.index}__].tripId}">-->
<!--                        </td>-->
                        <td>
                            <select th:field="*{tripDetails[__${rowStat.index}__].tileBoxId}" onchange="updateBoxesPerPallet(this)">
                                <option value="" selected>Select</option> <!-- Empty option -->
                                <option th:each="tileBox : ${tileBoxes}" th:value="${tileBox.id}" th:text="${tileBox.code}" th:attr="data-boxes-per-pallet=${tileBox.boxesPerPallet},data-square-meters-per-box=${tileBox.m2PerBox},data-description=${tileBox.description}"></option>
                            </select>
                        </td>
                        <td>
                            <span class="description"></span>
                        </td>
                        <td>
                            <input type="text" th:field="*{tripDetails[__${rowStat.index}__].sentBoxes}">
                        </td>
                        <td>
                            <span class="boxes-per-pallet"></span>
                        </td>
                        <td>
                            <span class="square-meters-per-box"></span>
                        </td>
                    </tr>
                </tbody>
        </table>

        <!-- Hidden input field to store the tripId-->
<!--        <input type="hidden" th:field="*{tripId}" />-->
        <button type="submit">Save</button>
    </form>

    <script type="text/javascript">
        function updateBoxesPerPallet(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];

            var boxesPerPallet = selectedOption.getAttribute('data-boxes-per-pallet');
            var squareMetersPerBox = String(selectedOption.getAttribute('data-square-meters-per-box'));
            var description = selectedOption.getAttribute('data-description');

            var row = selectElement.parentElement.parentElement;

            var boxesPerPalletElement = row.querySelector('.boxes-per-pallet');
            var squareMetersPerBoxElement = row.querySelector('.square-meters-per-box');
            var descriptionElement = row.querySelector('.description');

            boxesPerPalletElement.textContent = boxesPerPallet;
            squareMetersPerBoxElement.textContent = squareMetersPerBox;
            descriptionElement.textContent = description;
        }
    </script>
</body>
</html>