<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
        }

        .summary {
            display: flex;
            gap: 40px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h2>Trip Details Form</h2>

    <form th:object="${tripDetailsForm}" th:action="@{/trip/save}" method="post">
        <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="display: none;">Trip ID</th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Sent Boxes</th>
                        <th>Boxes Per Pallet</th>
                        <th style="display: none;">Square Meter Per Box</th>
                        <th style="display: none;">Weight Per Box</th>
                        <th>Total Square Meters</th>
                        <th>Total Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tripDetail, rowStat : *{tripDetails}">
                        <td th:text="${rowStat.count}"></td>
                        <td style="display: none;">
                            <input type="text" th:field="*{tripDetails[__${rowStat.index}__].tripId}">
                        </td>
                        <td>
                            <select th:field="*{tripDetails[__${rowStat.index}__].tileBoxId}" onchange="updateBoxesPerPallet(this)">
                                <option value="" selected>Select</option> <!-- Empty option -->
                                <option th:each="tileBox : ${tileBoxes}" th:value="${tileBox.id}" th:text="${tileBox.code}" th:attr="data-boxes-per-pallet=${tileBox.boxesPerPallet},data-square-meters-per-box=${tileBox.m2PerBox},data-description=${tileBox.description},data-weight-per-box=${tileBox.weightPerBox}"></option>
                            </select>
                        </td>
                        <td>
                            <span class="description"></span>
                        </td>
                        <td>
                            <input type="text" th:field="*{tripDetails[__${rowStat.index}__].sentBoxes}" class="sent-boxes" oninput="calculateTotalSquareMetersAndWeight(this.parentElement.parentElement)">
                        </td>
                        <td>
                            <span class="boxes-per-pallet"></span>
                        </td>
                        <td style="display: none;">
                            <span class="square-meters-per-box"></span>
                        </td>
                        <td style="display: none;">
                            <span class="weight-per-box"></span>
                        </td>
                        <td>
                            <span class="total-square-meters"></span>
                        </td>
                        <td class="total-weight">
                            <span class="total-weight-value"></span>
                        </td>
                    </tr>
                </tbody>
        </table>

        <button type="submit">Save</button>
    </form>

    <div class="summary">
        <p th:text="${truckCapacity}" style="display: none;" class="truck-capacity"></p>
        <p th:text="'Capacity: ' + ${formattedTruckCapacity} + 'Kg'"></p>
        <p class="sum-total-cargo">It's me</p>
    </div>

    <script type="text/javascript">
        function updateBoxesPerPallet(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];

            var boxesPerPallet = selectedOption.getAttribute('data-boxes-per-pallet');
            var squareMetersPerBox = parseFloat(selectedOption.getAttribute('data-square-meters-per-box'));
            var description = selectedOption.getAttribute('data-description');
            var weightPerBox = parseFloat(selectedOption.getAttribute('data-weight-per-box'));

            var row = selectElement.parentElement.parentElement;

            var boxesPerPalletElement = row.querySelector('.boxes-per-pallet');
            var squareMetersPerBoxElement = row.querySelector('.square-meters-per-box');
            var descriptionElement = row.querySelector('.description');
            var weightPerBoxElement = row.querySelector('.weight-per-box');

            boxesPerPalletElement.textContent = boxesPerPallet;
            squareMetersPerBoxElement.textContent = squareMetersPerBox.toFixed(2);
            descriptionElement.textContent = description;
            weightPerBoxElement.textContent = weightPerBox.toFixed(2);

            calculateTotalSquareMetersAndWeight(row);
        }

        function calculateTotalSquareMetersAndWeight(row) {
            var sentBoxes = parseFloat(row.querySelector('.sent-boxes').value);

            var squareMetersPerBox = parseFloat(row.querySelector('.square-meters-per-box').textContent);
            var totalSquareMeters = sentBoxes * squareMetersPerBox;
            var weightPerBox = parseFloat(row.querySelector('.weight-per-box').textContent);
            var totalWeight = sentBoxes * weightPerBox;

            var totalSquareMetersElement = row.querySelector('.total-square-meters');
            totalSquareMetersElement.textContent = totalSquareMeters.toFixed(2);
            var totalWeightElement = row.querySelector('.total-weight-value');
            totalWeightElement.textContent = totalWeight.toFixed(2);
        }
    </script>
</body>
</html>