<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Products</title>
</head>
<body>

<h1>List Of Products</h1>

<ul>
    <li th:remove="all">1 Cup of milk</li>
    <li th:remove="all">1 Teaspoon of chocolate</li>
    <li th:each="product : ${products}"
        th:text="${product.getId() + ' ' + product.getCode() + ' ' + product.getDescription()
            + ' ' + product.getM2PerBox + ' ' + product.getBoxesPerPallet()
            + ' ' + product.getWeightPerBox()}">1 Teaspoon of Sugar</li>
</ul>



</body>
</html>