<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    /css/style.css  springboot start-->
<!--    /static/css/style.css   regular check-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="container">
		<h1>Truck Repository</h1>
			<div class="grid-3-cols">
				<figure th:each="truck : ${trucks}" class="truck">
					<div class="truck-box">
						<h3 th:text="${truck.type}">Light Truck</h3>
						<ul class="truck-details">
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="truck-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
								</svg>
								<span th:text="'Id: ' + ${truck.id}">Id: 1</span>
							</li>
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="truck-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
								</svg>
								<span th:text="'Capacity: ' + ${truck.capacityInTons} + 't'">Capacity: 56t</span>							
							</li>
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="truck-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								<span th:text="'Cost: $' + ${truck.cost}">Cost: $34000</span>
							</li>
							<li>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="truck-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
								</svg>
								<span><a href="#" th:href="@{'/truck/' + ${truck.id} + '/show/'}" class="info">Show More</a></span>
							</li>
						</ul>
						<div class="crud-operations">
							<a href="#" th:href="@{'/truck/' + ${truck.id} + '/update/'}" class="btn btn--small">Update</a>
							<a href="#" th:href="@{'/truck/' + ${truck.id} + '/delete/'}" class="btn btn--small">Delete</a>
							<a href="#" th:href="@{'/truck/' + ${truck.id} + '/select/'}" class="btn btn--small">Select</a>
						</div>
					</div>
				</figure>
			</div>
  </div>

</body>
</html>